@tailwind base;
@tailwind components;
@tailwind utilities;

.appear {
  display: flex;
}
* {
  user-select: none;
}

:root {
  --first-bg: rgb(255, 255, 255);
  --second-bg: rgb(221, 221, 221);
  --text-color: rgb(0, 0, 0);
}

.green {
  --first-bg: rgb(0, 70, 0);
  --second-bg: rgb(10, 117, 0);
  --text-color: rgb(148, 255, 148);
}

.violet {
  --first-bg: rgb(43, 0, 70);
  --second-bg: rgb(162, 0, 216) e;
  --text-color: rgb(232, 129, 255);
}

.blue {
  --first-bg: rgb(0, 21, 70);
  --second-bg: rgb(0, 82, 175) e;
  --text-color: rgb(136, 184, 255);
}
